openapi: 3.0.0
info:
    version: 1.1.0
    title: Bybit
    description: |
        ## Overview
        bybit-official-api-docs
servers:
    -   url: 'https://api-testnet.bybit.com'
        description: For Testnet
    -   url: ' https://api.bybit.com'
        description: For Mainnet

x-tagGroups:
    -   name: Public Rest API1
        tags:
            - kline
    -   name: Private Rest API
        tags:
            - order

paths:
    #v2版本接口

    /v2/public/kline/list:
        get:
            summary: kline
            tags:
                - kline
            description: Query historical kline.
            parameters:
                -   $ref: '#/components/parameters/symbol_in_path'
                -   $ref: '#/components/parameters/interval'
                -   $ref: '#/components/parameters/from'
                -   $ref: '#/components/parameters/limit'
            responses:
                200:
                    description: response
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    -   $ref: '#/components/schemas/QueryKLineResp'
                                    -   $ref: '#/components/schemas/ErrorResponse'

    /v2/private/order/create:
        post:
            tags:
                - order
            summary: Place an order V2(developing)
            operationId: CreateOrder
            requestBody:
                $ref: '#/components/requestBodies/CreateOrderReq'
            responses:
                200:
                    description: response
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    -   $ref: '#/components/schemas/CreateOrderResp'
                                    -   $ref: '#/components/schemas/ErrorResponse'

    /v2/private/order/cancel:
        post:
            tags:
                - order
            summary: Cancel an order V2(developing)
            requestBody:
                $ref: '#/components/requestBodies/CancelOrderReq'
            responses:
                200:
                    description: cancel order response
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    -   $ref: '#/components/schemas/CancelOrderResp'
                                    -   $ref: '#/components/schemas/ErrorResponse'

components:
    parameters:
        symbol_in_query:
            name: symbol
            in: query
            required: true
            schema:
                $ref: '#/components/schemas/Symbol'

        symbol_in_path:
            name: symbol
            in: path
            required: true
            schema:
                $ref: '#/components/schemas/Symbol'

        side_in_query:
            name: side
            in: query
            required: true
            schema:
                $ref: '#/components/schemas/Side'

        order_type_in_query:
            name: order_type
            in: query
            required: true
            schema:
                $ref: '#/components/schemas/OrderType'

        interval:
            name: interval
            in: query
            required: true
            schema:
                $ref: '#/components/schemas/Interval'

        from:
            name: from
            in: query
            required: true
            schema:
                type: integer
        limit:
            name: limit
            in: query
            description: less than or equal 200
            schema:
                type: integer

    requestBodies:
        CreateOrderReq:
            content:
                application/x-www-form-urlencoded:
                    schema:
                        $ref: '#/components/schemas/CreateOrderReq'
                application/json:
                    schema:
                        $ref: '#/components/schemas/CreateOrderReq'

        CancelOrderReq:
            content:
                application/x-www-form-urlencoded:
                    schema:
                        $ref: '#/components/schemas/CancelOrderReq'
                application/json:
                    schema:
                        $ref: '#/components/schemas/CancelOrderReq'

    schemas:
        # Enum
        Symbol:
            type: string
            enum:
                - BTCUSD
                - ETHUSD
                - XRPUSD
                - EOSUSD

        Side:
            type: string
            enum:
                - Buy
                - Sell

        OrderType:
            type: string
            enum:
                - Market
                - Limit

        TimeInForce:
            type: string
            enum:
                - GoodTillCancel
                - ImmediateOrCancel
                - FillOrKill
                - PostOnly

        Interval:
            type: string
            enum:
                - 1
                - 3
                - 5
                - 15
                - 30
                - 60
                - 120
                - 240
                - 360
                - 720
                - D
                - M
                - W
                - Y


        # Requests
        CreateOrderReq:
            type: object
            properties:
                symbol:
                    $ref: '#/components/schemas/Symbol'
                side:
                    $ref: '#/components/schemas/Side'
                order_type:
                    $ref: '#/components/schemas/OrderType'
                qty:
                    type: int64
                    example: 10
                price:
                    type: number
                    example: 5000.5
                time_in_force:
                    $ref: '#/components/schemas/TimeInForce'
                order_link_id:
                    type: string
                    example: abcd-1234

        CancelOrderReq:
            type: object
            properties:
                order_id:
                    type: string
                    example: 1234-abcd

        # Responses
        
        SuccessResponse:
            type: object
            properties:
                ret_code:
                    type: integer
                    description: ret_code
                    example: 0
                ret_msg:
                    type: string
                    description: 'will always be ok'
                    example: 'ok'
                time_now:
                    type: string
                    description: utc timestamp of server
                    example: '1539778407.210858'

            required:
                - ret_code

        ErrorResponse:
            type: object
            properties:
                ret_code:
                    type: integer
                    description: ret_code
                    example: -1
                ret_msg:
                    type: string
                    description: Error message.
                    example: 'An error occurred.'
                ext_code:
                    type: string
                    example: ''
                result:
                    type: object
                    description: 'will be Null'
                    example: null
                time_now:
                    type: string
                    description: utc timestamp of server
                    example: '1539778407.210858'
            required:
                - ret_code
                - ret_msg

        QueryKLineResp:
            allOf:
                -   $ref: '#/components/schemas/SuccessResponse'
                -   type: object
                    properties:
                        result:
                            type: array
                            items:
                                $ref: '#/components/schemas/KLine'
                    required:
                        - result

        CreateOrderResp:
            allOf:
                -   $ref: '#/components/schemas/SuccessResponse'
                -   type: object
                    properties:
                        result:
                            type: object
                            properties:
                                order_id:
                                    type: string
                                    example: 1234-abcd

        CancelOrderResp:
            allOf:
                -   $ref: '#/components/schemas/SuccessResponse'
                -   type: object
                    properties:
                        result:
                            type: string
                            nullable: true
                            example: null

        # Model
        KLine:
            type: object
            properties:
                symbol:
                    allOf:
                        -   $ref: '#/components/schemas/Symbol'
                interval:
                    type: string
                    enum:
                        - 1
                        - 3
                        - 5
                        - 15
                        - 30
                        - 60
                        - 120
                        - 240
                        - 360
                        - 720
                        - D
                        - M
                        - W
                        - Y
                open_time:
                    type: integer
                    example: 1553846940
                open:
                    type: string
                    example: "5000.5"
                high:
                    type: string
                    example: "5500.5"
                low:
                    type: string
                    example: "4500"
                close:
                    type: string
                    example: "5000.5"
                volume:
                    type: string
                    example: "1100"

